{% extends 'base_form.html' %}

{% block main %}
<div class="card-3d-wrap mx-auto">
	<div class="card-3d-wrapper">
		<div class="card-front">
			<div class="center-wrap">
				<div class="section text-center">
					<h4 class="mb-4 pb-3">Password Reset Done</h4>
					A link will be sent to the email provided if an account has been registered with it. Please check
					your inbox
					to proceed
					</p>

					<a href="{% url 'index' %}" class="btn mt-4">Home</a>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock main %}