{% extends 'base_form.html' %}
{% block main %}
<div class="card-3d-wrap mx-auto">
	<div class="card-3d-wrapper">
		<div class="card-front">

			
			{% if validlink %}
				<form method="post">
					{% csrf_token %}
					<div class="center-wrap">
						<div class="section text-center">
							<h4 class="mb-4 pb-3">Password Reset</h4>
				
							<div class="form-group mt-2">
								{{form.new_password1}}
								<i class="input-icon uil uil-lock-alt"></i>
								<small class="text-warning">
									{{form.new_password1.errors}}
								</small>
							</div>
							<div class="form-group mt-2">
								{{form.new_password2}}
								<i class="input-icon uil uil-lock-alt"></i>
								<small class="text-warning">
									{{form.new_password2.errors}}
								</small>
							</div>
				
							<button class="btn mt-4">submit</button>
				
						</div>
					</div>
				</form>
				{% else %}
				<div class="center-wrap">
					<div class="section text-center">
						<h4 class="mb-4 pb-3">Password Reset</h4>
				
						<p class="lead">This link has already been used</p>
				
					</div>
				</div>
			{% endif %}
				

		</div>
	</div>
</div>
{% endblock %}