{% extends 'base_form.html' %}

{% block main %}
<div class="card-3d-wrap mx-auto">
	<div class="card-3d-wrapper">
		<div class="card-front">
			<div class="center-wrap">
				<div class="section text-center">
					<h4 class="mb-4 pb-3">Password Reset <span class="text-success">Successful</span></h4>
					Password has been changed successfully . Kindly login again to enjoy our services to the fullest
					</p>

					<a href="{% url 'index' %}" class="btn mt-4">Home</a>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock main %}