<div class="card-back">
	<form id="register-form" action="{% url 'register' %}" method="post">
		{% csrf_token %}
		<div class="center-wrap">
			<div class="section text-center">
				<h4 class="mb-4 pb-3">Sign Up</h4>
				<div class="form-group">
					<input type="text" name="username" class="form-style" placeholder="Your Username" id="regusername"
						autocomplete="off">
					<i class="input-icon uil uil-user"></i>
				</div>
				<div class="form-group mt-2">
					<input type="email" name="email" class="form-style" placeholder="Your Email" id="regemail"
						autocomplete="off">
					<i class="input-icon uil uil-at"></i>
				</div>
				<div class="form-group mt-2">
					<input type="password" name="password" class="form-style" placeholder="Your Password" id="regpassword"
						autocomplete="off">
					<i class="input-icon uil uil-lock-alt"></i>
				</div>
				<div class="form-group mt-2">
					<input type="password" name="password2" class="form-style" placeholder="Confirm Password"
						id="regpassword2" autocomplete="off">
					<i class="input-icon uil uil-lock-alt"></i>
				</div>
				<button class="btn mt-4">submit</button>
			</div>
		</div>
	</form>
</div>